@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

html, body{
   background-color: #e2efff;
}



.image-size {
    width: 100%;
    height: 130px;
}

.fab  {
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigering {
    background-color:#89bfff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.Homepage {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.lista {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

 /* 

 TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST

 */
.header {
    padding: 20px 40px;
    
}

.header h2 {
    display:flex;
    margin: 0;
    font-size: 2rem;
    align-content: center;
    justify-content: center;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border:hidden;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control input {
    border: 2px solid #bdbdbd;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control i {
    position: absolute;
    top: 50px;
    right: 25px;
    visibility: hidden;
}

.form-control small {
    font-size: 14px;
    visibility: hidden;
    position: absolute;
    bottom:0;
    left:0;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
    padding-left: 15px;
}
.form button {
    background-color:#528ec7;
    border: 2px solid #528ec7;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

