@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

html, body{
   background-color: #e2efff;
}



.image-size {
    width: 100%;
    height: 130px;
}

.fab  {
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigering {
    background-color:#89bfff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.Homepage {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.lista {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

 /* 

 TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST

 */


#regform {
    width: 400px;
    max-width: 100%;
    overflow:hidden;
    margin-top: 50px;
}


.header {
    padding: 20px 40px;
    
}

.header h2 {
    display:flex;
    margin: 0;
    font-size: 2rem;
    align-content: center;
    justify-content: center;
}


.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border:hidden;
}



.btn {
    background-color:#bfbfbf;
    border: 2px solid #919191;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

